# dependencies
/node_modules

# Next.js
/.next
/out

# production
/build

# environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts